.button-main-container {
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 1366px) {
  .button-main-container {
    padding-top: 40px;
    flex-direction: row;
    gap: 16px;
  }
}
