.button-main_white {
  background-color: var(--white-light-transparent);
  color: var(--black);
}

.button-main_white:hover {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (min-width: 1366px) {
  .button-main_white {
    background-color: var(--transparent);
    border: 2px solid var(--black);
  }
}
