.main-screen {
  min-height: 100vh;
  padding-top: 18px;
  box-sizing: border-box;
  background-image: url("../../assets/img/main-screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (min-width: 1366px) {
  .main-screen {
    padding-top: 26px;
    background-image: url("../../assets/img/main-screen_desktop.png");
    background-size: 100%;
  }
}
