.main-screen__heading_align-center {
  text-align: center;

  /* Perfect Pixel */

  position: relative;
  left: 4px;
}

@media screen and (min-width: 1366px) {
  .main-screen__heading_align-center {
    position: static;
  }
}
