.main-screen__description {
  font-family: 'Golos Text', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
  margin: 23px 0 0;
}

@media screen and (min-width: 1366px) {
  .main-screen__description {
    margin: 24px 0 0;
    text-align: center;
  }
}
