@keyframes running-line {
  from {
    transform: translate(100vw, 0);
  }
  to {
    transform: translate(-110%, 0);
  }
}

.running-line__quotes-container {
  width: fit-content;
  display: flex;
  padding: 0 12px;
  margin: 0;
  white-space: nowrap;
  animation-name: running-line;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
