.logo {
  width: 213px;
  height: 32px;
  background-image: url(../../assets/img/logo.svg);
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 1366px) {
  .logo {
    width: 245.17px;
    height: 36px;
  }
}
