.running-line {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  overflow: hidden;
}

@media screen and (min-width: 1366px) {
  .running-line {
    padding: 18px 0;
  }
}
